.container{
    position: relative;

/* style card */
}
.card_product {
    transition: 0.6s ease-out;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(black, 0.5);
    background-image: 
    linear-gradient(
        to right, #30cfd044, #a5d6a744, #FF809544
    )
    ;
 
}
 
.card_product:hover {
transform: scale(1.04);


filter:brightness(90%);
}



