.fruit-vet:hover {
background-color: rgb(170, 249, 96);
}
.detail-page {
    background-image: 
    linear-gradient(to right, #30cfd044, #a5d6a744, #FF809544);
    box-shadow: 0 6px 6px cadetblue;
    border-radius: 20px;

}

